.container-clientes {
  width: 100%;
  height: 75px;
  flex-shrink: 0;
  color: #3d3b3b;
}

.container-clientes h2 {
  color: #a74040;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
