.header{
    width: 100vw;
    height: 30vh;
    background-color: #47919F;
}

.main{
    background-image: url("../assets/homeBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}